---
---
    <div id="about" class="about-container">
        <h1 class="about-title">About</h1>
        <div class="about-text">
        <p>Hi, my name's Hussain, and I'm currently a junior at UC Davis studying Computer Science. In 2024, I made it my New Year's resolution to learn a new technology and/or framework every month and apply it in the form of a project. The main purpose of this website is to serve as a sort of notebook I can refer back to in the future. The goal is to be able to quickly jog my memory as to how to use and implement that particular language/framework/tool and what the workflow is like, and also see the parts I was struggling with and my solutions. The projects will released toward the middle/end of each month (depending on how much else is going on that month). Feel free to check out the projects yourself, as in addition to my recap & summary they're all open source and public on GitHub. </p>
        </div>
    </div>
  
  <style>
    .about-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 70%;
      border-radius: 60px;
      margin-top: -10em;
      margin-right: auto;
      margin-bottom: 8em;
      margin-left: auto;
      position: relative;
    }
  
    .about-title {
      color: #C2BAC1; 
      font-weight: bold; 
      text-align: left;
      border-bottom: 8px solid black;
      font-size: 3em;
      padding: 20px;
    }
  
    .about-text {
      color: #C2BAC1;
      background-color: rgba(40,40,40, 0.50);
      padding: 40px;
      margin-top: 20px;
    }

    @media (max-width: 992px) {
    .about-container {
      align-items: center; 
    }
  }
  </style>