---
// Import statements (if any) would go here
---

<div id="home" class="flex justify-center">
  <nav class="bg-lighty opacity-90 py-4 my-4 rounded-full flex">
    <a href="#home" class="text-cream text-xl mx-6 font-bold transform transition-all duration-200 hover:scale-125">home</a>
    <a href="#about" class="text-cream text-xl mx-6 font-bold transform transition-all duration-200 hover:scale-125">about</a>
    <a href="#projects" class="text-cream text-xl mx-6 font-bold transform transition-all duration-200 hover:scale-125">projects</a>
    <a href="#contact" class="text-cream text-xl mx-6 font-bold transform transition-all duration-200 hover:scale-125">contact</a>
  </nav>
</div>
