---
import ProjectCard from './ProjectCard.astro'
---
<div id = "projects" class="projects-container">
    <h1 class="projects-title">Projects</h1>
    <div class="projects-grid">
      <ProjectCard 
          month="January" 
          projectName="This Website" 
          projectDescription="Astro" 
          projectImage="/website.png" 
          githubLink="https://github.com/hussiiii/proamo" 
          url='/projects/website'
      />
      <ProjectCard 
          month="Febuary" 
          projectName="CNPC Script Generator" 
          projectDescription="OpenAI, LangChain, Flask" 
          projectImage="/cnpc.png" 
          githubLink="https://github.com/hussiiii/architect" 
          url="/projects/cnpc"
      />
      <ProjectCard 
          month="March" 
          projectName="Repcode.io" 
          projectDescription="MySQL, Prisma, AWS" 
          projectImage="/repcode.png" 
          githubLink="https://github.com/hussiiii" 
          url="/projects/repcode"
      />
      <ProjectCard 
          month="April" 
          projectName="Sentune" 
          projectDescription="OpenCV, DeepFace" 
          projectImage="/sentune.png" 
          githubLink="https://github.com/hussiiii" 
          url="/projects/sentune"
      />
      <ProjectCard 
          month="May" 
          projectName="???" 
          projectDescription="?????" 
          projectImage="/question-mark.png" 
          githubLink="https://github.com/hussiiii" 
      />
      <ProjectCard 
          month="June" 
          projectName="???" 
          projectDescription="?????" 
          projectImage="/question-mark.png" 
          githubLink="https://github.com/hussiiii" 
      />
      <ProjectCard 
          month="July" 
          projectName="???" 
          projectDescription="?????" 
          projectImage="/question-mark.png" 
          githubLink="https://github.com/hussiiii" 
      />
      <ProjectCard 
          month="August" 
          projectName="???" 
          projectDescription="?????" 
          projectImage="/question-mark.png" 
          githubLink="https://github.com/hussiiii" 
      />
      <ProjectCard 
          month="September" 
          projectName="???" 
          projectDescription="?????" 
          projectImage="/question-mark.png" 
          githubLink="https://github.com/hussiiii" 
      />
      <ProjectCard 
          month="October" 
          projectName="???" 
          projectDescription="?????" 
          projectImage="/question-mark.png" 
          githubLink="https://github.com/hussiiii" 
      />
      <ProjectCard 
          month="November" 
          projectName="???" 
          projectDescription="?????" 
          projectImage="/question-mark.png" 
          githubLink="https://github.com/hussiiii" 
      />
      <ProjectCard 
          month="December" 
          projectName="???" 
          projectDescription="?????" 
          projectImage="/question-mark.png" 
          githubLink="https://github.com/hussiiii" 
      />

  </div>
</div>

<style>
.projects-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 70%;
  border-radius: 60px;
  margin: 0 auto; 
  margin-bottom: 12em;
  position: relative;
}

.projects-title {
  color: #C2BAC1; 
  font-weight: bold; 
  text-align: left;
  border-bottom: 8px solid black;
  font-size: 3em;
  padding: 20px;
  margin-bottom: 1em;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

@media screen and (max-width: 992px) {
    .projects-grid {
      grid-template-columns: 1fr; /* Change to a one column grid */
    }
    .projects-container {
        align-items: center;
    }
  }

</style>